h1{
  font-family: 'Dancing Script', cursive;
 font-size:80px;
 position: absolute;
 padding: 80px 0px 0px 70px;
 color:#F0EBCE;

}
img{
  position: absolute;
  margin: 10px 50px 5px 50px;
  width: 100%;
}
